# IS 4487 Lab 3

## Outline

Repeat exercises from Lab 2, but with the *SuperStore Retail Orders* dataset
- Loading installed packages
- Inspect data
- Explore plot types

<a href="https://colab.research.google.com/github/Stan-Pugsley/is_4487_base/blob/main/Labs/Scripts/lab_03_retailer_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Superstore Data Dictionary

 ORDER VARIABLES:
 - Order ID
 - Order Date
 - Order Year Month - Year and month of the order
 - Order Type - Was the order completed at a store or online? (Retail, Online)
 - Quantity - Quantity ordered for the product

 CUSTOMER VARIABLES:
 - Customer Name
 - City
 - State Province
 - Email

PRODUCT VARIABLES:
 - Product Name
 - Product Line - Category of the product (i.e. Bikes Phones)
 - Product Price - Price in US Dollars
 - Product Status - Current status of the product (Active, Inactive)

## Load Libraries

➡️ Assignment Tasks
- Load any necessary libraries

In [1]:
import pandas as pd

## Import Data into Dataframe

➡️ Assignment Tasks
- Import data from the SuperStore retail dataset into a dataframe (in GitHub go to Labs > DataSets)
- Describe or profile the dataframe

In [19]:
df = pd.read_csv('https://github.com/Stan-Pugsley/is_4487_base/blob/main/Labs/DataSets/superstore_retail_orders.csv?raw=true')
df.head(100)

,order_id,order_date,order_year_month,customer_name,city,state_province,email,order_type,quantity,product_name,product_line,product_price,product_status
0,51188,2023-07-01,2023-07,Audrey Blanco,North Cherylmouth,New Hampshire,audrey_blanco@email.com,Retail,3.0,"Apple iPhone XR (Yellow, 256 GB) (Includes Ear...",Mobile,649.99,Active
1,51187,2023-07-01,2023-07,Isaac Allen,Traceyland,West Virginia,isaac_allen@email.com,Online,4.0,"Apple iPhone XR (Yellow, 256 GB) (Includes Ear...",Mobile,649.99,Active
2,51199,2023-07-02,2023-07,Ian Morgan,Dylanberg,South Dakota,ian_morgan@email.com,Online,5.0,"Apple iPhone XR (Yellow, 256 GB) (Includes Ear...",Mobile,649.99,Active
3,51241,2023-07-04,2023-07,Alexa Bell,Lake Tracytown,Wisconsin,alexa_bell@email.com,Online,1.0,"Apple iPhone XR (Yellow, 256 GB) (Includes Ear...",Mobile,649.99,Active
4,51297,2023-07-08,2023-07,Casey Diaz,Byrdchester,Mississippi,casey_diaz@email.com,Online,1.0,"Apple iPhone XR (Yellow, 256 GB) (Includes Ear...",Mobile,649.99,Active
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,58284,2023-11-20,2023-11,Vanessa Coleman,Bakerview,Pennsylvania,vanessa_coleman@email.com,Retail,1.0,"Road-750 Black, 52",Bikes,539.99,Active
96,58401,2023-11-22,2023-11,Colleen Huang,New Aprilland,New Jersey,colleen_huang@email.com,Online,1.0,"Road-750 Black, 52",Bikes,539.99,Active
97,58412,2023-11-22,2023-11,Jonathan Harris,Lake Jeffrey,TX,jonathan_harris@email.com,Retail,1.0,"Road-750 Black, 52",Bikes,539.99,Active
98,58532,2023-11-24,2023-11,Ronnie Lin,Brooksburgh,Ohio,ronnie_lin@email.com,Retail,1.0,"Road-750 Black, 52",Bikes,539.99,Active
99,58817,2023-11-29,2023-11,Carolyn Rodriguez,Williammouth,Florida,carolyn_rodriguez@email.com,Online,1.0,"Road-750 Black, 52",Bikes,539.99,Active

## Prepare Data

➡️ Assignment Tasks
- Create a "revenue" variable and make sure it is a numeric datatype
- Remove rows with empty (NULL) values
- Locate outliers in at least two of the variables.   Filter them out if they are mistakes; keep them if they are exceptional cases.

In [35]:
df['revenue'] = df['quantity'] * df['product_price']
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 55294 entries, 0 to 56042
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          55294 non-null  int64
 1   order_date        55294 non-null  object
 2   order_year_month  55294 non-null  object
 3   customer_name     55294 non-null  object
 4   city              55294 non-null  object
 5   state_province    55294 non-null  object
 6   email             55294 non-null  object
 7   order_type        55294 non-null  object
 8   quantity          55294 non-null  float64
 9   product_name      55294 non-null  object
 10  product_line      55294 non-null  object
 11  product_price     55294 non-null  float64
 12  product_status    55294 non-null  object
 13  revenue           55294 non-null  float64
dtypes: float64(3), int64(1), object(10)
memory usage: 6.3+ MB

In [36]:
df

,order_id,order_date,order_year_month,customer_name,city,state_province,email,order_type,quantity,product_name,product_line,product_price,product_status,revenue
0,51188,2023-07-01,2023-07,Audrey Blanco,North Cherylmouth,New Hampshire,audrey_blanco@email.com,Retail,3.0,"Apple iPhone XR (Yellow, 256 GB) (Includes Ear...",Mobile,649.99,Active,1949.97
1,51187,2023-07-01,2023-07,Isaac Allen,Traceyland,West Virginia,isaac_allen@email.com,Online,4.0,"Apple iPhone XR (Yellow, 256 GB) (Includes Ear...",Mobile,649.99,Active,2599.96
2,51199,2023-07-02,2023-07,Ian Morgan,Dylanberg,South Dakota,ian_morgan@email.com,Online,5.0,"Apple iPhone XR (Yellow, 256 GB) (Includes Ear...",Mobile,649.99,Active,3249.95
3,51241,2023-07-04,2023-07,Alexa Bell,Lake Tracytown,Wisconsin,alexa_bell@email.com,Online,1.0,"Apple iPhone XR (Yellow, 256 GB) (Includes Ear...",Mobile,649.99,Active,649.99
4,51297,2023-07-08,2023-07,Casey Diaz,Byrdchester,Mississippi,casey_diaz@email.com,Online,1.0,"Apple iPhone XR (Yellow, 256 GB) (Includes Ear...",Mobile,649.99,Active,649.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56038,74084,2024-06-29,2024-06,Ian Rogers,Port Mark,Alabama,ian_rogers@email.com,Retail,1.0,"Samsung Galaxy S20 FE 5G (Cloud Navy, 8GB RAM,...",Electronics,914.62,Active,914.62
56039,74062,2024-06-29,2024-06,Marcus Anderson,West Aprilfurt,Nebraska,marcus_anderson@email.com,Retail,1.0,"Samsung Galaxy S20 FE 5G (Cloud Navy, 8GB RAM,...",Electronics,914.62,Active,914.62
56040,74065,2024-06-29,2024-06,Nathaniel Howard,New Lindaview,Illinois,nathaniel_howard@email.com,Online,1.0,"Samsung Galaxy S20 FE 5G (Cloud Navy, 8GB RAM,...",Electronics,914.62,Active,914.62
56041,74038,2024-06-29,2024-06,Robin Sanz,West Frankhaven,Arkansas,robin_sanz@email.com,Retail,1.0,"Samsung Galaxy S20 FE 5G (Cloud Navy, 8GB RAM,...",Electronics,914.62,Active,914.62
56042,74110,2024-06-30,2024-06,Mallory Jimenez,Dillonhaven,Maryland,mallory_jimenez@email.com,Retail,1.0,"Samsung Galaxy S20 FE 5G (Cloud Navy, 8GB RAM,...",Electronics,914.62,Active,914.62

In [31]:
# here I will drop any null values for quantity
df = df.dropna(subset=['quantity'])
# next I will drop any rows where the order is before 1990 and after 2025
def filter_year(date_str):
    try:
        year = int(date_str[:4])
        return 1990 <= year <= 2025
    except (ValueError, TypeError):
        return False

df = df[df['order_date'].apply(filter_year)]

In [30]:
# dropping the null values
df = df.dropna()
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [order_id, order_date, order_year_month, customer_name, city, state_province, email, order_type, quantity, product_name, product_line, product_price, product_status]
Index: []

## Summarize Data

➡️ Assignment Tasks
- Display the average price per product line
- Display the total revenue for all months

In [32]:
#average price
average_price_per_product_line = df.groupby('product_line')['product_price'].mean()
average_price_per_product_line

product_line
Accessories          11.529251
Bikes              1821.569058
Cameras             779.219357
Clothing          49001.990996
Electronics         693.962835
Laptop             3578.270000
Mobile             1013.527405
OfficeProducts        8.640000
Projector          3386.564074
Name: product_price, dtype: float64

In [37]:
#total revenue
total_revenue_by_month = df.groupby('order_year_month')['revenue'].sum()
total_revenue_by_month

order_year_month
2022-01     4746737.16
2022-02      500428.41
2022-03      708048.28
2022-04      653364.08
2022-05      659325.94
2022-06      637784.29
2022-07      486114.93
2022-08      533572.11
2022-09      341266.49
2022-10      404276.65
2022-11      306453.60
2022-12      560965.27
2023-01      432425.86
2023-02      459752.28
2023-03      469912.92
2023-04      492886.16
2023-05      539365.40
2023-06      529704.69
2023-07    10495300.14
2023-08    47232524.31
2023-09    50614963.75
2023-10    53117217.85
2023-11    50196883.14
2023-12    59182870.87
2024-01    57744443.81
2024-02    57700422.24
2024-03    57460241.29
2024-04    63213208.20
2024-05    73469869.94
2024-06    67964592.02
Name: revenue, dtype: float64

In [39]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)
!jupyter nbconvert --to html "lab_03_retailer_intro.ipynb"

Mounted at /content/drive
[NbConvertApp] Converting notebook lab_03_retailer_intro.ipynb to html
[NbConvertApp] Writing 314177 bytes to lab_03_retailer_intro.html